#!/usr/bin/env python

import json
import os
import subprocess
import sys

keytab_path = '{{ kerberos_client__keytab }}'

content=dict({
    'principals': []
})

try:
    if not os.path.isfile(keytab_path):
        content['error'] = 'file {} does not exists'.format(keytab_path)
    else:
        result = subprocess.check_output(['/usr/bin/env', 'klist', '-k', keytab_path], universal_newlines=True)
        lines = result.split('\n')
        for line in lines[3:]:
            parts = line.split()
            if len(parts) >= 2:
                principal = parts[1]
                if principal not in content['principals']:
                    content['principals'].append(principal)
except subprocess.CalledProcessError as e:
    content['error'] = str(e)

if len(content) == 0:
    content = None

print(json.dumps(content))
sys.exit(0)
