#
# {{ ansible_managed }}
#

includedir {{ kerberos_client__include_dir }}
{% for dir in kerberos_client__include_dirs %}
includedir {{ dir }}
{% endfor %}

[logging]
{% for key, value in kerberos_client__logging|dictsort %}
  {{ key }} = {{ value }}
{% endfor %}

[libdefaults]
{% for key, value in kerberos_client__defaults_merged|dictsort %}
  {{ key }} = {{ value }}
{% endfor %}

[realms]
{% for realm, parameters in kerberos_client__realms|dictsort %}
  {{ realm|upper }} = {
{%   for kdc in ([parameters.kdc] if parameters.kdc is string else parameters.kdc) %}
    kdc = {% if kdc|search(':') %}{{ kdc }}{% else %}{{ kdc }}:{{ kerberos_client__krb_port }}{% endif %}
{%   endfor %}

{%   if parameters.master_kdc is defined %}
    master_kdc = {% if parameters.master_kdc|search(':') %}{{ parameters.master_kdc }}{% else %}{{ parameters.master_kdc }}:{{ kerberos_client__krb_port }}{% endif %}
{%   endif %}

{%   if parameters.admin_server is defined %}
    admin_server = {% if parameters.admin_server|search(':') %}{{ parameters.admin_server }}{% else %}{{ parameters.admin_server }}:{{ kerberos_client__krb_admin_port }}{% endif %}
{%   endif %}

{%   if parameters.kpasswd_server is defined %}
    kpasswd_server = {% if parameters.kpasswd_server|search(':') %}{{ parameters.kpasswd_server }}{% else %}{{ parameters.kpasswd_server }}:{{ kerberos_client__krb_kpasswd_port }}{% endif %}
{%   endif %}

{%   for key, value in parameters|dictsort %}
{%     if key not in ['master_kdc', 'kdc', 'admin_server', 'kpasswd_server'] %}
    {{ key }} = {{ value }}
{%     endif %}
{%   endfor %}
  }
{% endfor %}

[domain_realm]
{% for domain, realm in kerberos_client__domains|dictsort %}
  {{ domain }} = {{ realm }}
{% endfor %}

[dbmodules]
{% for realm, parameters in kerberos_client__dbmodules|dictsort %}
{%   if parameters.keys()|length > 0 %}
  {{ realm|upper }} = {
{%     for key, value in parameters|dictsort %}
    {{ key }} = {{ value }}
{%     endfor %}
  }
{%   endif %}
{% endfor %}
