#
# {{ ansible_managed }}
#

includedir {{ kerberos_client__include_dir }}
{% for dir in kerberos_client__include_dirs %}
includedir {{ dir }}
{% endfor %}

[libdefaults]
{% for key, value in kerberos_client__defaults_merged|dictsort %}
  {{ key }} = {{ value }}
{% endfor %}

[realms]
{% for key, value in kerberos_client__realms|dictsort %}
  {{ key|upper }} = {
{%   for kdc in ([value.kdc] if value.kdc is string else value.kdc) %}
    kdc = {% if kdc|search(':') %}{{ kdc }}{% else %}{{ kdc }}:{{ kerberos_client__krb_port }}{% endif %}
{%   endfor %}

{%   if value.master_kdc is defined %}
    master_kdc = {% if value.master_kdc|search(':') %}{{ value.master_kdc }}{% else %}{{ value.master_kdc }}:{{ kerberos_client__krb_port }}{% endif %}
{%   endif %}

{%   if value.admin_server is defined %}
    admin_server = {% if value.admin_server|search(':') %}{{ value.admin_server }}{% else %}{{ value.admin_server }}:{{ kerberos_client__krb_admin_port }}{% endif %}
{%   endif %}

{%   if value.kpasswd_server is defined %}
    kpasswd_server = {% if value.kpasswd_server|search(':') %}{{ value.kpasswd_server }}{% else %}{{ value.kpasswd_server }}:{{ kerberos_client__krb_kpasswd_port }}{% endif %}
{%   endif %}

{%   for key, value in value|dictsort %}
{%     if key not in ['master_kdc', 'kdc', 'admin_server', 'kpasswd_server'] %}
    {{ key }} = {{ value }}
{%     endif %}
{%   endfor %}
  }
{% endfor %}

[domain_realm]
{% for domain, realm in kerberos_client__domains|dictsort %}
  .{{ domain }} = {{ realm }}
  {{ domain }} = {{ realm }}
{% endfor %}
